.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  td{
   border: solid 1px black;
  }
  table{
    margin: 0 auto;
    border: solid 10px rgb(209, 100, 122);
  }
  .navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
.explore__content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding-bottom: 50px;
  }
  .img{
    height: 30vh;
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 1rem;
    cursor: pointer;
  }  
.filter-container button{
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: white;
  color: rgb(65, 98, 168);
  border-radius: 1rem;
  border: 2px solid rgb(65, 98, 168);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2rem;
}

button.active {
  background-color: rgb(65, 98, 168);
  color: white;
}

.NFT_section{
  display:flex;
  justify-content: center;
}
.NFT_information {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
.img_NFT{
  width: 600px;
}

.FormCollectionSection{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  padding-bottom: 40px;
}
label{
height: 24px;
  width: 231px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 24px;
}
.form-control{
  margin: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-right: 5px;
  height: 39px;
  width: 426px;
  border: 2px solid #E6E6E6;
  border-radius: 20px;
}
.form-control[type='text']{
  font-size:20px;
  padding-left: 15px;
}


.buttonForm{
    cursor: pointer;
    border: 1px solid #1a202c;
    padding: 8px;
    width: 150px;
    border-radius: 20px;

    background: transparent;

    transition: all 0.1s ease-in;
  }

  .buttonForm:hover {
    background: #1a202c;
    color: #ffffff;
  }

.FormNFTSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  padding-bottom: 40px;
}